<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="/friends" role="tab" data-toggle="tab">Friends Timetables</a></li>
      <li class="active"><a role="tab" data-toggle="tab">Friend Management</a></li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title nm-section-title">Friends Requests Received</h2>
      </div>
      <table class="table table-hover nm-friends-requests-received-list"></table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title nm-section-title">Friends Requests Sent</h2>
      </div>
      <table class="table table-hover nm-friends-requests-sent-list"></table>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-xs btn-primary js-nm-friends-add-button pull-right" data-toggle="popover">
          <i class="fa fa-plus"></i> Add Friend
        </button>
        <h2 class="panel-title nm-section-title">Friends</h2>
      </div>
      <table class="table table-hover nm-friends-list"></table>
    </div>
  </div>
</div>
