<div class="nm-friends-add-popover">
  <div class="form-group">
    <label for="name">Matriculation No of Friend</label>
    <input type="text" class="form-control" id="matric-num" placeholder="Include the alphabet too!">
  </div>
  <button class="btn btn-warning js-nm-friends-add">Add Friend</button>
</div>
