<td class="nm-friends-name">
  <h5 class="media-heading">{{nusnetId}}</h5>
</td>
<td>
  <a class="btn btn-danger btn-sm js-nm-friends-request-cancel nm-friends-action">
    <i class="fa fa-lg fa-times"></i> Cancel
  </a>
</td>
