<div class="nm-module-projects-list-item">
  <a target="_blank">
    <img src="{{thumbnail}}" class="img-responsive">
    <h5 class="nm-module-project-title">{{name}}</h5>
  </a>
  {{#if members}}
    <small class="nm-module-project-team">By {{#each members}} {{this}}{{#unless @last}},{{/unless}} {{/each}}</small>
  {{/if}}
</div>
